#bar_size{
	width: 90%;
	height: 20px;
	margin: auto;
	background-color: #adadad;
}

#status_info{
	text-align: center;
}

#progress_bar{
	background-color: #16e053;
	height: 100%;
	width: 0%;
}

#json_text {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	width: 90%;
	height: 50%;
	margin: auto;
}